<div class="footer">
    <div class="copyright">
        <p>Telif Hakkı ©Ferhat_Türe tarafından Tasarlandı ve Geliştirildi <a href="https://themeforest.net/user/quixlab">Ferhat</a> @DateTime.Now.Year</p>
    </div>
</div>