
@{
    Layout = null;
}

Search view sayfa 


@model List<BookingApiLocationSearchViewModel.Datum>



<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <br /><br />
    @using (Html.BeginForm("Index", "SearchBooking",FormMethod.Post)){
        <label>Şehir adını giriniz</label>
        <input type="text" class="form-control" name="cityname"/>
        <button class="btn btn-primary">Şehir için id bul</button>
    }


    <table class="table table-bordered">
        <tr>
            <th>xxx</th>

        </tr>

        <tr>

            @foreach (var item in Model) {
                <td>@item.dest_id</td>
            }

       </tr>

    </table>

    <a href="/BookingByCity/Index/" class="btn btn-dark">Yeni otel rezervasyon bilgisi</a>

</div>

